/**
 * @file
 * Styles for taxonomy wrangler
 */
.taxonomy-wrangler-accordion-item {
  float: left;
  font-size: 1.35em;
  min-width: 15px;
  padding-right: 5px;
  padding-left: 5px;
  color: #656565;
}
.taxonomy-wrangler-accordion-item:hover {
  text-decoration: none;
}
.taxonomy-wrangler-accordion-item--parent span:after {
  content: "\25be"; /*right pointing small triangle*/
}
.taxonomy-wrangler-accordion-item--parent.is-collapsed span:after {
  content: "\25b8"; /*down pointing small triangle*/
}
